.header {
    padding: 15px 14px 13px 14px;
    display: flex;
    justify-content: space-between;
    height: 45px;
    background-color: $head;
    &__capt {
        font-family: $fira;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
    }
    &__close-link {
        font-family: $fa;
        font-style: normal;
        color: #fff;
    }
}