section.section.filter
    .filter-friends.filter-friends__left(data-zone="left")
        h2.filter-friends__capt Ваши друзья
        .filter-friends__container.filter-friends__container-left
    .filter-friends.filter-friends__right(data-zone="right")
        h2.filter-friends__capt Друзья в списке
        .filter-friends__container.filter-friends__container-right