section.section.search
    form.search__form(action="")
        .search__container.search__container--left
            input.search__inp.search__inp--left(type="text" placeholder="Начните вводить имя друга")
        .search__container.search__container--right
            input.search__inp.search__inp--right(type="text" placeholder="Название")
